target/
*.log*
*.class
*.patch
*.DS_Store
generated/
**/WEB-INF/lib/*

.DS_Store
node_modules/
/dist/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

### wildcard ###
*~
*.iml
*.class
*.swp

### file ###
.DS_Store
pom.xml.versionsBackup
!.mvn/wrapper/maven-wrapper.jar

### directory ###
target/
@log.path@/
dist/*
*/dist/*
dist/
node_modules/
node_modules
compressed/
compressed/*

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.iml
